##`zip Function:`
The zip function takes multiple iterables and returns an iterator that produces tuples containing elements from each iterable, paired together based on their positions.

In [1]:
# Example lists
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]

# Using zip to pair elements from both lists
combined = zip(names, ages)

# Iterating over the result
for name, age in combined:
    print(f'{name} is {age} years old')

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old

- Question 1:
Johnny has these two lists of colors: ["red", "blue", "green"] and ["yellow", "purple"]. Can you help him zip them together and write down all the colors in order?

- Question 2:
Emily has these two tuples of fruits: ("apple", "banana", "orange") and ("grapefruit", "melon"). Can you help her zip them together and make a list of all the fruits she has?

- Question 3:
David has these two sets of numbers: {1, 2, 3} and {4, 5}. Can you help him zip them together and create a tuple of all the numbers in order?

- Question 4:
Sophia has these two lists of flowers: ["rose", "tulip", "daisy"] and ["sunflower", "lily"]. Can you help her zip them together and write down all the flowers in order?

- Question 5:
Alex has these two tuples of vegetables: ("carrot", "potato", "tomato") and ("cucumber", "lettuce"). Can you help him zip them together and make a list of all the vegetables he has?

- Question 6:
Isabella has these two sets of letters: {"a", "b", "c"} and {"d", "e"}. Can you help her zip them together and create a tuple of all the letters in order?

- Question 7:
Lucas has these two lists of sports: ["soccer", "basketball", "tennis"] and ["swimming", "golf"]. Can you help him zip them together and write down all the sports in order?

- Question 8:
Olivia has these two tuples of desserts: ("cake", "pie", "ice cream") and ("cookies", "pudding"). Can you help her zip them together and make a list of all the desserts she has?

- Question 9:
Ethan has these two sets of colors: {"red", "blue", "yellow"} and {"green", "orange"}. Can you help him zip them together and create a tuple of all the colors in order?

- Question 10:
Ava has these two lists of birds: ["parrot", "owl", "eagle"] and ["penguin", "hawk"]. Can you help her zip them together and write down all the birds in order?

##`map Function:`
The map function applies a specified function to each item in an iterable (like a list) and returns an iterator that yields the results.

In [4]:
numbers=list(map(int,input("enter the numbers : ").split(" ")))
print(numbers)

enter the numbers : 1 2 23 45 100
[1, 2, 23, 45, 100]

Map Function basics

1.	Creating a List of Integers:
Take multiple space-separated integers as input and create a list from them.
2.	Creating a Set of Floats:
Take multiple space-separated float numbers as input and create a set from them.
3.	Creating a Tuple of Strings:
Take multiple space-separated strings as input and create a tuple from them.

In [5]:
import math
numbers=list(map(int,input("enter the numbers : ").split(" ")))
square_root=list(map(math.sqrt,numbers))
print(square)

enter the numbers : 2 3 5 6 8 9
[1.4142135623730951, 1.7320508075688772, 2.23606797749979, 2.449489742783178, 2.8284271247461903, 3.0]

Question 1: Tommy has a list of numbers: [4, 9, 16]. Can you help him find the square root of each number in the list?

Question 2: Sarah has a tuple of numbers: (5, 3, 7). Can you calculate the factorial of each number in the tuple?

Question 3: Timmy has a set of numbers: {2, 4, 6}. Can you find the square root of each number in the set?

Question 4: Emily has a list of numbers: [10, 20, 30]. Can you calculate the factorial of each number in the list?

Question 5: Johnny has a tuple of numbers: (1.5, 2.5, 3.5). Can you help him find the square root of each number in the tuple?